.my-bets-zone {
    display: flex;
    flex-direction: column;
    align-items: center;

    .game-zone {
        display: flex;
        flex-direction: column;
        align-items: center;

        h2 {
            color: #7a122f;
        }

        .bet-form {
            h4 {
                color: #7a122f;
            }

            .bet-inputs {
                display: flex;

                .team-score-section {
                    display: flex;
                    align-items: center;

                }
            }
        }
    }
}