.my-bets-zone {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100vh;
//     background: url('imgs/fans.svg'); 
//     background-repeat: no-repeat;
// background-position:bottom;
// background-size: 100% 100%;
    .game-zone {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0.8em auto;
        padding: 1rem;
        gap: 10px;
        border-radius: 10px;
       background-color: white;
        box-shadow: 0 1px 2px 0 rgb(60 64 67 / 30%), 0 1px 3px 1px rgb(60 64 67 / 15%);

        h2 {
            color: #7a122f;
        }

        .bet-form {
            text-align: center;

            h4 {
                color: #7a122f;
            }

            .bet-inputs {
                display: flex;
                align-items: center;
                gap: 0.5rem;

                .team1-score-section {
                    display: flex;
                    align-items: center;
                    gap: 0.2rem;
                }


            }
        }
    }
}